<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  </head>
  <body>
    <div id="container">
      <% characters.forEach((character) => { %>
      <div class="card" id="spiderman">
        <div class="card-image">
          <img
            src="<%= character.path %>"
          />
        </div>
        <div class="card-text">
          <h2><%= character.name %></h2>
        </div>
      </div>
      <%}) %>
    </div>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Raleway:wght@400;500;600;700;800&display=swap");
      * {
        margin: 0;
        padding: 0;
        font-family: "Raleway", serif;
      }
      h2 {
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 4rem;
      }
      #container {
        height: 100vh;
        width: 100vw;
        background-color: #f2ebdd;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .card {
        margin: 0 30px;
        height: 500px;
        width: 250px;
        background-color: #fff;
        border: 5px solid black;
        box-shadow: 0 0 0 7px #fff, 0 0 8px 5px #000;
      }
      .card-image {
        position: relative;
        width: 100%;
        border-bottom: 5px solid #000;
        z-index: 1;
      }
      .card-image > img {
        position: absolute;
        z-index: 2;
        height: 100%;
      }

      .card-text > div {
        display: flex;
        justify-content: space-between;
      }
      #spiderman > .card-image {
        height: 72%;
        background-color: #5caab4;
      }
      #spiderman > .card-image > img {
        width: 130%;
        height: 90%;
        margin-top: 20px;
        margin-left: -30px;
      }
      #spiderman h2 {
        font-size: 3rem;
        letter-spacing: 15px;
        text-align: center;
        margin-left: 10px;
        color: #2e5579;
      }
      #spiderman > .card-text > div {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        padding-top: 5px;
      }
      #spiderman > .card-text > div > div:first-child {
        display: flex;
        flex-direction: column;
      }
      #spiderman > .card-text > div > div:first-child > span {
        font-size: 1.5rem;
        line-height: 30px;
        font-weight: 500;
      }
      #spiderman > .card-text > div > div:last-child {
        display: flex;
      }
      #spiderman > .card-text > div > div:last-child > span:first-child {
        font-size: 5rem;
        font-weight: 800;
        line-height: 60px;
      }

      #spiderman > .card-text > div > div:last-child > span:last-child {
        font-weight: 600;
        font-size: 1.3rem;
      }
    </style>
  </body>
</html>
